{{#partial "content"}}
    <div class="index" style="background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/back1.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; ">
         <div class="home-page">

        <!--Beginning of navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">WILDLIFE TRACKER</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Animals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sightings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Rangers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Location</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav><!--End of Navbar-->

          <div class="wildlife">
              <h1 class="wildlifeTitle">Wildlife Tracker &nbsp;<i class="fas fa-paw"></i></h1>
                 <h4 class="typing-text">
                     <a href="" class="typewrite" data-period="2000" data-type='[ "Welcome to Wildlife Tracker.", "An application that helps Rangers keep track of wildlife sightings in a given area ." ]'>
                         <span class="wrap"></span>  </a></h4>
          </div>


         </div>
      </div>

{{/partial}}
{{>layout.hbs}}