{{#partial "content"}}
    <div class="index" style="background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/back1.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; ">
         <div class="home-page">
          <div class="wildlife">
              <h1 class="wildlifeTitle">Wildlife Tracker &nbsp;<i class="fas fa-paw"></i></h1>
                 <h4 class="typing-text">
                     <a href="" class="typewrite" data-period="2000" data-type='[ "Welcome to Wildlife Tracker.", "An application that helps Rangers keep track of wildlife sightings in a given area ." ]'>
                         <span class="wrap"></span>  </a></h4>
          </div>
         </div>
      </div>

{{/partial}}
{{>layout.hbs}}