{{#block "header"}}
<!DOCTYPE html>
    <html>
    <head>
        <title>{{#block "title"}}{{/block}}</title>
    </head>
    <body>
{{/block}}
   <div class="page">
       {{#block "content"}}{{/block}}
       {{#block "footer"}}

   </div>
    </body>
    </html>
   {{/block}}