{{#partial "content"}}
    <div class="location-content" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url('images/locationback1.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="new-animal">
            <h1 class="new-animal-title" animate__animated animate__zoomInDown>Add Location Details</h1>
        </div>
        <!--Gather input for new location-->
        <form class="location-form" method="post" action="/location">
            <div class="row" style="margin-bottom: 2%">
                <div class="col-md-4"></div>
                <div class="col">
                    <label for="location-name" class="form-label">Enter Location:</label>
                    <input type="text" class="form-control"  id="name" name="name" required>
                </div>
                <div class="col save-location" >
                    <button type="submit" class="add-animal-button">Save Location</button>
                </div>
            </div>
        </form>

        <div class="location-table container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <table class="table">
                        <thead class="location-header">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each location}}
                            <tr class="display-location">
                                <td >{{id}}</td>
                                <td>{{name}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-2"></div>
            </div>

        </div>

    </div>
{{/partial}}
{{>layout.hbs}}